%nav.navbar.navbar-light.navbar-full.navbar-fixed-top.bg-faded
  %a.navbar-brand{:href => '#'} TEMPLATE
  %ul.nav.navbar-nav
    %li.nav-item.active
      %a.nav-link{:href => '#'} HOME
    %li.nav-item
      %a.nav-link{:href => '#'} NAV
    %li.nav-item
      %a.nav-link{:href => '#'} OTHER
